# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\PE-PRO192\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea
